body{
	background-color: #FFFFFF;
}

h1{
	height: 100px;
	text-align: center;
	color: white;
	background-color: #333333;
	transition: height 1s;
}

h1:hover { height: 200px;
}

p, h3{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: #333333;
	background-color: #ffffff;
}

.message{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 2s linear;
	-moz-transition: opacity 2s linear;
	-o-transition: opacity 2s linear;
	transition: opacity 2s linear;
}

.item:hover .message{
	visibility: visible;
	opacity: 1;
}
